<span id="camel"><h1><%= @result %></h1></span>

<iframe width="1" height="1" src="https://www.youtube.com/embed/tpiqpzItmpE?list=RDNd3Q23Nfq6I&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
<div class="images"><img src="camel.jpg"></div>