<h1>Home Page</h1>
<%= @name %>
<p>My name is Harold. I come from Hungria. I eat twelve apples a day and I often drink carrot juice to help with my vitality. When I get my picture taken I get sad as most people will not see the sadness I feel when they do not see it and they do not see my sadness. My favourite dish is peanut soup with ice-cream pie on the side.</p>