<!DOCTYPE html>
<html>
<head>
  <title>Homework Week4 Day1</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  
  <%= yield %>

  <a href="/">Home</a>
  <a href="/address">Address</a>
</body>
</html>